.App {
  text-align: center;
  font-size:30px;
}

.habits:after{
	clear: both;
  content: '';
  display: table;
   
 
}
.add{
	border: 5px solid green;
	margin:auto;
	width: max-content;
	padding:10px;
	
	
}

.addoptions{
	text-align: left;
}
.habits{
	border: 5px solid black;
	margin:auto;
	width: max-content;
	padding:10px;
}



.spending{
	border: 5px solid red;
	margin:auto;
	width: max-content;
	padding:10px;
}

.button1{
	margin:auto;
    
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
